.span_Error {
  color: red;
}
.parentBox {
  /* border: 2px solid black; */
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.childBox {
  border: 2px solid rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
  font-size: 19px;
  width: 490px;
  box-shadow: 4px 20px 11px 6px rgb(192, 192, 192);
  border: 0px;
  border-radius: 10px;
}
.inputWidth {
  width: 200px;
  border: 2px solid rgb(158, 158, 158);
  border-radius: 3px;
  height: 30px;
}
.flexParent {
  display: flex;
}
.submit {
  height: 40px;
  width: 200px;
  margin-bottom: 20px;
  background-color: rgb(0, 102, 255);
  color: white;
  border: 0px;
  border-radius: 5px;
}
.flex {
  display: flex;
  padding: 25px;
}
.checkBox {
  height: 20px;
  width: 39px;
}
.input{
  height: 50px;
  width: 100px;
}
.tableCenter{
  display: flex;
  justify-content: center;
  align-items: center;
   font-family: "Times New Roman", Times, serif;
  font-size: 19px;
}